<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.ceo.mapper.BbDealerTMapper" >
  <resultMap id="BaseResultMap" type="com.unicom.ceo.model.BbDealerT" >
    <id column="dealer_id" property="dealer_id" jdbcType="VARCHAR" />
    <result column="dealer_name" property="dealer_name" jdbcType="VARCHAR" />
    <result column="ceo_id" property="ceo_id" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="dealer_address" property="dealer_address" jdbcType="VARCHAR" />
    <result column="dealer_cost" property="dealer_cost" jdbcType="DECIMAL" />
    <result column="dealer_state" property="dealer_state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dealer_id, dealer_name, ceo_id, longitude, latitude, dealer_address, dealer_cost, 
    dealer_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unicom.ceo.model.BbDealerTExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bb_dealer_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bb_dealer_t
    where dealer_id = #{dealer_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bb_dealer_t
    where dealer_id = #{dealer_id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.unicom.ceo.model.BbDealerTExample" >
    delete from bb_dealer_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unicom.ceo.model.BbDealerT" >
    insert into bb_dealer_t (dealer_id, dealer_name, ceo_id, 
      longitude, latitude, dealer_address, 
      dealer_cost, dealer_state)
    values (#{dealer_id,jdbcType=VARCHAR}, #{dealer_name,jdbcType=VARCHAR}, #{ceo_id,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{dealer_address,jdbcType=VARCHAR}, 
      #{dealer_cost,jdbcType=DECIMAL}, #{dealer_state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unicom.ceo.model.BbDealerT" >
    insert into bb_dealer_t
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dealer_id != null" >
        dealer_id,
      </if>
      <if test="dealer_name != null" >
        dealer_name,
      </if>
      <if test="ceo_id != null" >
        ceo_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="dealer_address != null" >
        dealer_address,
      </if>
      <if test="dealer_cost != null" >
        dealer_cost,
      </if>
      <if test="dealer_state != null" >
        dealer_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dealer_id != null" >
        #{dealer_id,jdbcType=VARCHAR},
      </if>
      <if test="dealer_name != null" >
        #{dealer_name,jdbcType=VARCHAR},
      </if>
      <if test="ceo_id != null" >
        #{ceo_id,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="dealer_address != null" >
        #{dealer_address,jdbcType=VARCHAR},
      </if>
      <if test="dealer_cost != null" >
        #{dealer_cost,jdbcType=DECIMAL},
      </if>
      <if test="dealer_state != null" >
        #{dealer_state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unicom.ceo.model.BbDealerTExample" resultType="java.lang.Integer" >
    select count(*) from bb_dealer_t
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bb_dealer_t
    <set >
      <if test="record.dealer_id != null" >
        dealer_id = #{record.dealer_id,jdbcType=VARCHAR},
      </if>
      <if test="record.dealer_name != null" >
        dealer_name = #{record.dealer_name,jdbcType=VARCHAR},
      </if>
      <if test="record.ceo_id != null" >
        ceo_id = #{record.ceo_id,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.dealer_address != null" >
        dealer_address = #{record.dealer_address,jdbcType=VARCHAR},
      </if>
      <if test="record.dealer_cost != null" >
        dealer_cost = #{record.dealer_cost,jdbcType=DECIMAL},
      </if>
      <if test="record.dealer_state != null" >
        dealer_state = #{record.dealer_state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bb_dealer_t
    set dealer_id = #{record.dealer_id,jdbcType=VARCHAR},
      dealer_name = #{record.dealer_name,jdbcType=VARCHAR},
      ceo_id = #{record.ceo_id,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=DECIMAL},
      latitude = #{record.latitude,jdbcType=DECIMAL},
      dealer_address = #{record.dealer_address,jdbcType=VARCHAR},
      dealer_cost = #{record.dealer_cost,jdbcType=DECIMAL},
      dealer_state = #{record.dealer_state,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicom.ceo.model.BbDealerT" >
    update bb_dealer_t
    <set >
      <if test="dealer_name != null" >
        dealer_name = #{dealer_name,jdbcType=VARCHAR},
      </if>
      <if test="ceo_id != null" >
        ceo_id = #{ceo_id,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="dealer_address != null" >
        dealer_address = #{dealer_address,jdbcType=VARCHAR},
      </if>
      <if test="dealer_cost != null" >
        dealer_cost = #{dealer_cost,jdbcType=DECIMAL},
      </if>
      <if test="dealer_state != null" >
        dealer_state = #{dealer_state,jdbcType=VARCHAR},
      </if>
    </set>
    where dealer_id = #{dealer_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicom.ceo.model.BbDealerT" >
    update bb_dealer_t
    set dealer_name = #{dealer_name,jdbcType=VARCHAR},
      ceo_id = #{ceo_id,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      dealer_address = #{dealer_address,jdbcType=VARCHAR},
      dealer_cost = #{dealer_cost,jdbcType=DECIMAL},
      dealer_state = #{dealer_state,jdbcType=VARCHAR}
    where dealer_id = #{dealer_id,jdbcType=VARCHAR}
  </update>
</mapper>